<table>
    <tr (click)="generateData()">
        <th></th>
        <th>X</th>
        <th>Y</th>
    </tr>
    <tr *ngFor="let d of dataPairs; let i = index;">
        <td>{{i + 1}}</td>
        <td><input #number type="number" (input)="dataPairs[i][0] = number.value" [value]="dataPairs[i][0]"/></td>
        <td><input #number type="number" (input)="dataPairs[i][1] = number.value" [value]="dataPairs[i][1]"/></td>
    </tr>
</table>
<h1 (click)="getRegression(dataPairs)">
  {{results | json}}
</h1>
