<div class="data-pairs-container row">
    <table>
        <tr>
            <th></th>
            <th>X</th>
            <th>Y</th>
        </tr>
        <tr *ngFor="let d of dataPairs; let i = index;">
            <td>{{i + 1}}</td>
            <td><input #number1 type="number" (input)="dataPairs[i][0] = number1.value; chart();" [value]="dataPairs[i][0]"/></td>
            <td><input #number2 type="number" (input)="dataPairs[i][1] = number2.value; chart();" [value]="dataPairs[i][1]"/></td>
        </tr>
    </table>
</div>

<div class="chart-container row">
    <svg class="d3-chart"></svg>
</div>

<div class="buttons-container">
    <button (click)="generateData()">generate data</button>
    <button (click)="getRegression(dataPairs)">regression</button>
</div>